body{
    font-family: 'Montserrat', sans-serif;

}

header{
    background: linear-gradient(to bottom,#5f4c49,#524241,#423636,#423636);
    padding: 5px 0;
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 2;  /* Para que no quede por debajo del banner*/
}
.caja-header{
    width: 100%;
    position: relative;
    margin-left: 10px;
}



#logo-principal{
    max-width: 70px;
    margin-left: 30px;
}

.list-selection{
    position: absolute;
    top: 40px;
    right: 40px;
}
.list-selection li{
    display: inline;
    margin: 0 0 0 45px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.5s;

}
nav a:hover{
    color: #C78C19;
    font-size: 26px;
    
}





main{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 10px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px auto;
}


footer{
    
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 12px;
    margin: 20px;
   
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 10px;
    transition: 0.7s all;
    cursor: pointer;
}

.enviar:hover{
    background: red;
    font-size: 19px;
    transform: scale(1.1);

}

table{
    margin: 40px;
}

thead{
    background: #555555 ;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000000;
    padding: 8px 15px;
}

