body{
    font-family: 'Montserrat', sans-serif;
}
header{
    background: linear-gradient(to bottom,#5f4c49,#524241,#423636,#423636);
    padding: 5px 0;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 2;  /* Para que no quede por debajo del banner*/
}
.caja-header{
    width: 100%;
    position: relative;
    margin-left: 10px;
}



#logo-principal{
    max-width: 70px;
    margin-left: 30px;
}

.list-selection{
    position: absolute;
    top: 40px;
    right: 40px;
}
.list-selection li{
    display: inline;
    margin: 0 0 0 45px;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    transition: all 0.5s;

}
nav a:hover{
    color: #C78C19;
    font-size: 26px;
    
}




.productos{
    width: 940px;
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 0;
    padding-bottom: 30px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px 10px 50px 50px;
    cursor: pointer;
    transition: 0.7s all;

}
.productos li:hover{
    border-color: #C78C19;
    color: #C78C19;
    transform: scale(1.08);
}

.productos li:active{
    border-color: green;
}


.productos h2{
    font-size: 30px ;
    font-weight: bold;
   
}

.productos li:hover h2{
    font-size: 34px;
}

.prod-descripcion{
    font-size: 18px;

}

.prod-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 12px;
    margin: 20px;
}
